
*.db
*.opendb
*.ipch
.vs/Technical-Software-Development/v15/.suo
*.sqlite
*.json
Lab12/AlgorithmAnalysis(6).pdf
Lab12/ArraySorter.h.gch
Lab12/a.out
Tests/2/BenfordTester.h.gch
Tests/2/a.out
Tests/2/data.txt
